.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	width: 1000px;
}
body {
	margin: 0px;
}
.insidebar {
	margin-left: 405px;
}
.otherinbar {
	color: white;
	letter-spacing: 0.3em;
	font-size: 25px;
	font-weight: lighter;
	display: inline;
	margin-right: 20px;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.bar {
	background-color: #212121;
	padding-top: 14px;
	padding-bottom: 14px;
}
h4 {
	margin: 0px;
}
video {
    display: inline-block;
    vertical-align: baseline;
	object-fit: contain;
}
.firstinbar {
	color: white;
	letter-spacing: 0.3em;
	font-size: 25px;
	font-weight: lighter;
	display: inline;
	margin-right: 30px;
}
.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
audio {
	margin-left: 300px;
	margin-right: 300px;
}
img {
	vertical-align: middle;
	opacity: 0.95;
}
div {
	display: block;
}
p {
	text-transform: uppercase;
	font-size: 1.4em;
	color: #ffffff;
	text-align: center;
}
h2 {
	text-transform: uppercase;
	font-size: 1.6em;
	letter-spacing: 0.2em;
	font-size: 3em;
	color: #ffffff;
}
body {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}
#eggplants {
	opacity: 100%;
	margin-bottom: 12px;
	}
.gallary {
	max-width: 400px;
	border: 2px solid #4f4f4f;
	margin: 5px;
}
.main {
	position: relative;
    max-width: 100%;
    min-width: 27em;
    background: #4f4f4f;
    cursor: default;
    opacity: 0.95;
    text-align: center;
	padding-top: 4.5em;
    padding-right: 3em;
    padding-bottom: 3em;
    padding-left: 3em;
}
.start {
	padding: 40px 15px;
    text-align: center;
}
h1 {
	text-transform: uppercase;
	letter-spacing: 0.4em;
	font-size: 2.2em;
	margin-bottom: 5px;
}
.space {
	padding-top: 100px;
}
.space2 {
	padding-top: 50px;
}
iframe {
	margin-right: 3px;
	margin-left: 3px;
}
#foot {
	font-size: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
	color: black;
	background-color: #ffffff;
	margin: 0;
	letter-spacing: 0.4em;
}

		#foot .copyright {
      margin: 0;
      padding: 0;
      font-size: 0.9em;
      list-style: none;
    }

      #foot .copyright li {
      display: inline-block;
      margin: 0 0 0 0.45em;
      padding: 0 0 0 0.85em;
      border-left: solid 1px rgba(255, 0, 0, 0.5);
      line-height: 1;
      }

        #foot .copyright li:first-child {
          border-left: 0;
        }

#workplz {
	margin-right: 1px
}

#hi {
	margin: 0 auto;
	border-radius: 15%;
	max-width: 75px;
    max-height: 75px;
	height: auto;
    width: auto;
}

.profiles {
	max-width: 75px;
	margin-right: 8px;
	border-radius: 50%;
    border: 1px solid grey
}

ul {
	padding: 0px 0px 0px 0px;
}

a {
	text-transform: normal;
}

.text {
	text-align: left;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ef2828;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
.
